@import 'reset.scss';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}